body {
    background: rgb(75, 75, 75);
    margin: 0;
}
header{
    background: white;
    padding: 10px;
}
div{
    box-sizing: border-box;
}
h1{
    margin: 0;
}
div.post h2, div.post p{
    padding: 10px;
    margin: 0;
}
div.post p{
    font-size: 20px;
}
div.container{
    width: 800px;
    margin: auto;
}
div.post {
    background: white;
    margin: 10px;
}
div.post .post-header div:first-child{
    display: inline-block;
    width: 80%;
}
div.post .post-header div:last-child{
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: right;
    color: grey;
}
div.post img{
    width: 100%;
}
p.buttons {
    text-align: right;
    padding-right: 35px;
    color: grey;
}